/* fil d'arianne */
.fil_arianne {
  font-size: 14px;
  margin-left: 4vw;
  margin-top: 2vw;
}

.fil_arianne a {
  text-decoration: none;
  color: #007bff; /* Couleur des liens */
}

.fil_arianne a:hover {
  text-decoration: underline; /* Souligner le lien au survol */
}

/* Page Accueil */

.body_accueil {
  position: relative;
}

.body_accueil main {
  margin-left: 5vw;
}

.pet_card {
  display: inline-block;
  width: calc(20% - 20px);
  margin: 2vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  border-top: 100%;
  text-align: center;
}

.pet_card:hover {
  transform: scale(1.1);
}

.pet_card h2 {
  margin-top: 0;
}

.pet_card img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.pet_card p {
  margin-bottom: 0;
}

.accueil-animaux .pet_card {
  border-radius: 50px;
  background-color: #543a8e;
  padding: 0 0.5vw;
}

.accueil-animaux h2 {
  font-weight: 400;
  color: white;
}


.accueil-animaux img {
  width: 16vw;
  border-radius: 50px;
}

.menu-accueil {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10vh;
}

.menu-accueil button {
  font-family: "Roboto", sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  background-color: #dd7a52;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.menu-accueil button:hover {
  transform: scale(1.1);
  background-color: #543a8e;
  opacity: 0.8;
}

.FAQ {
  background-image: url(../img/accueil/formes.png);
  background-repeat: no-repeat;
  margin-top: 7vh;
}

.FAQ h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 400;
}

.FAQ h2 {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: black;
  margin-bottom: 5%;
}

.Q1 {
  flex: 1 1;
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.785);
  border-radius: 20%;
}

.Q2 {
  flex: 1 1;
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.785);
  border-radius: 20%;
}

.Q3 {
  flex: 1 1;
  padding: 10%;
  background-color: rgba(255, 255, 255, 0.785);
  border-radius: 20%;
}

.vide {
  flex: 1 1;
}

.divQ1 {
  display: flex;
  color: black;
  border-radius: 20%;
}

.divQ2 {
  display: flex;
  color: black;
  border-radius: 20%;
  
}

.divQ3 {
  display: flex;
  color: black;
  border-radius: 20%;
}

.Q1 h1 {
  color: black;
}

.body_accueil p {
  font-size: 15%;
}
.body_accueil h2{
  font-size: 170%;
  margin-bottom: 5%;
  
}

/* SideBar */

/*pour fixer la barre*/
.side-nav {
  position: fixed;
  height: 100vh;
  left: 2vw;
  top: 0;
  z-index: 2;
}

/*pour cacher la barre*/
.wrapper_nav {
  height: 100vh;
  width: 5vw;
  z-index: 2;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin-bottom: 70px;
}

.logo img {
  width: 50px;
}

.side-nav {
  padding-top: 10px;
  z-index: 2;
}

.nav-bloc {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.nav-bloc:hover {
  background: #dd7a52;
}
.nav-bloc:hover .sub-nav {
  transform: translateX(75px);
}
.nav-bloc img {
  width: 25px;
  transition: 0.2s ease-in-out;
}
.nav-bloc:hover img {
  width: 30px;
}
.sub-nav {
  padding: 0px;
  width: 200px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
  color: white;
}

.main-content {
  padding-left: 3vw;
}

.images-chats img {
  width: 100%;
}

.repas {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.repas-content {
  flex-shrink: 0;
}

.repas img {
  border-radius: 15%;
  width: 80%;
}

/*sert à ajouter un titre au survol de l'icone*/
.nav-image-container {
  position: relative;
  display: inline-block;
}

.image-title {
  position: absolute;
  top: 50%;
  left: 120%;
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.nav-image-container:hover .image-title {
  opacity: 1;
}

/* dons */

.main-don {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}

.img-don {
  max-width: 50%;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.title-don {
  font-family: "Roboto", sans-serif;
  display: flex;
  font-size: 72px;
  font-weight: 400;
  margin-left: 5vw;
}

.h2-don {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: 400;
}

.h3-don {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
}

.p-don {
  font-size: 16px;
  line-height: 1.5;
  max-width: 800px;
  font-weight: 100;
}

.button-don {
  font-family: "Roboto", sans-serif;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  background-color: #dd7a52;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.button-don:hover {
  transform: scale(1.1);
  background-color: #543a8e;
  opacity: 0.8;
}

/* Page animaux */

.h1_animaux {
  font-size: 75px;
  font-weight: 400;
  margin-left: 5vw;
}

.animaux {
  margin-left: 20px;
}

.animaux .pet_card:hover {
  transform: scale(1.1);
}

.animaux .pet_card {
  border-radius: 50px;
  background-color: #543a8e;
  padding: 0 0.5vw;
}

.animaux h2 {
  font-weight: 400;
  color: white;
}

.animaux img {
  width: 16vw;
  border-radius: 50px;
}

.animaux button {
  background-color: #543a8e;
  color: black;
  padding: 15px 20px;
  margin-left: 4px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  /* font-size: 16px; */
  color: white;
}

.animaux button:hover {
  transform: scale(1.1);
  background-color: #dd7a52;
  opacity: 0.8;
}

/* Page Animal individuel*/

.animal_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("../img/accueil/formes.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: right;
}

.animal_wrapper {
  width: 40vw;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: white;
  margin-left: 60px;
}

.animal_wrapper img {
  width: 25vw;
  border-radius: 50px;
}

.animal_wrapper img:hover {
  transform: scale(1.1);
}

.animal_wrapper .animal_name {
  margin-top: 230px;
  font-weight: 400;
}

/* Menu */

* {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  transition: all 1s;
}

.menu {
  display: flex;
  flex-direction: row;
}

.titre-menu {
  display: flex;
  font-size: 100px;
}

.titre-menu h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 72px;
  margin-left: 5vw;
}

.img-menu img {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
  transition: all 1s;
  height: auto;
  width: 50vw;
}

.liste-allergenes {
  padding-right: 5%;
  padding-left: -10%;
}

.liste-allergenes h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 32px;
}

.liste-allergenes h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

/* Billeterie  */

.tarif-titre {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 72px;
  margin-left: 5vw;
}

.prix-ticket,
.date {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.tarif-container {
  display: flex;
  padding-left: 5%;
  justify-content: space-between;
  flex-direction: column;
}

.tarif {
  width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.date {
  padding-left: 2%;
}

.prix-ticket {
  padding-left: 70%;
}

.input-ticket {
  margin-left: 2%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}
span {
  margin-left: 2%;
}

.zone-payement {
  display: flex;
  flex-direction: column;
  padding-left: 70%;
  padding-top: 5%;
  width: 15%;
}
.Price {
  text-align: center;
  margin-top: 10%;
  padding-bottom: 5%;
  margin-bottom: 2%;
  font-size: 24px;
  border-bottom: 2px solid black;
}

.horizontal-bar {
  margin-bottom: 15px;
}

.bouton-payer {
  width: fit-content;
  margin: auto;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  margin-bottom: 5%;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  background-color: #dd7a52;
  color: #fff;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}

.bouton-payer:hover {
  transform: scale(1.1);
  background-color: #543a8e;
  opacity: 0.8;
}

/* Contact */

.main-contact {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  background-image: url("../img/contact/fond-contact.png");
  background-size: 100%;
  margin: 0;
  padding: 0;
  height: 200vh;
}

/* Barre contact */

.main-contact h1 {
  margin-left: 20%;
  font-size: 100px;
  font-weight: 400;
  margin-top: -10px;
}

.headerContact {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  margin: 5% 20%;
  background-color: #f2f2f2;
  border-radius: 50px;
}

.headerContact img {
  max-width: 100px;
  margin-right: 2%;
  border-radius: 50px;
}

/* Carte */

.main-contact #map {
  max-width: 600px;
  margin: 0 25%;
  border-radius: 50px;
  padding: 100px;
  border: 4px solid #f2f2f2;
}

/* Formulaire */

.main-contact form {
  max-width: 600px;
  margin: 30px auto;
  margin-top: 5%;
  margin: 5% 30% 0 30%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 50px;
  background-color: #f9f9f9;
}

.main-contact form label {
  display: block;
  margin: 10px 0 5px;
}

.main-contact form input,
.main-contact form select,
.main-contact form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
}

.main-contact form button {
  background-color: #dd7a52;
  color: black;
  padding: 15px 20px;
  margin-left: 4px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
}

.main-contact button:hover {
  transform: scale(1.1);
  background-color: #543a8e;
  opacity: 0.8;
}

/* Admin  */
.titre-dashboard h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 72px;
  margin-left: 5vw;
  margin-bottom: 5vh;
}

.liste-customers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Footer  */

* {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0;
}

.footer {
  background-image: url(../img/footer/bg-footer.webp);
  height: 75vh;
  object-fit: cover;
  background-position: center;
  max-width: 100%;
  height: auto;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  bottom: 0;
  z-index: 1;
}

.liste-footer {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: 400;
  margin-top: 25vh;
}

.liste-footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 23%;
  padding-left: 6%;
}

.liste-footer li {
  display: flex;
  padding: 10%;
  justify-content: space-around;
}

.reseaux {
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
}

.reseaux a {
  display: flex;
  padding: 2%;
}

/* Media Querries  */

/* Tablette */

@media screen and (max-width: 1024px) {
  * {
    font-size: 12px;
    height: fit-content;
    transition: all 1s;
  }

  .footer {
    height: auto;
  }

  .reseaux a {
    width: 100%;
    max-width: 100px;
    height: 75%;
    object-fit: cover;
    object-position: center;
  }
  .reseaux {
    height: 6%;
    object-fit: cover;
  }

  .reseaux img {
    height: 40px;
  }

  .repas img {
    height: 20vh;
  }

  .menu-accueil img {
    height: 25vh;
  }

  .repas {
    font-size: 7px;
  }

  .pet_card {
    width: calc(33% - 20px);
  }

  .animal_wrapper {
    width: 80vw;
  }
  .accueil-animaux .pet_card{
    width: 50vw;
  }

  .h1_animaux{
    font-size: 45px;
    margin-left: 7vw;
  }

  .main-content{
    margin-left: 7vw;
    margin-right: 2vw;
  }

  .main-contact {
    flex-direction: column;
    font-size: 12px;
    height: fit-content;
    transition: all 1s;
}

.main-contact h1{
    font-size: 65px;
}
}

/* Téléphone */

@media screen and (max-width: 600px) {
  * {
    font-size: 7px;
    height: fit-content;
    transition: all 1s;
  }

  .footer {
    height: fit-content;
  }

  .reseaux img {
    height: 20px;
  }

  .reseaux a {
    width: 100%;
    max-width: 50px;
    height: 50%;
    object-fit: cover;
    object-position: center;
  }

  .reseaux {
    height: 3%;
    object-fit: cover;
  }

  .repas img {
    height: 10vh;
  }

  .repas {
    font-size: 7px;
  }

  .menu-accueil img {
    height: 20vh;
  }

  .pet_card {
    width: calc(75% - 20px);
  }

  .animal_wrapper {
    width: 80vw;
  }

  .pet_card {
    width: calc(100% - 20px);
  }
  .animal_container {
    background-size: 70%;
  }

  .animal_wrapper {
    width: 30%;
    margin: 10px;
    padding: 10px;
  }

  .animal_wrapper img {
    width: 110%;
  }

  .animal_wrapper .animal_name {
    margin-top: 20px;
    font-weight: 400;
  }

  .animaux h2 {
    margin-top: 5px;
    font-size: 17px;
  }

  .animaux .pet_card {
    width: 30%;
    margin-bottom: 20px;
  }

  .animaux img {
    width: 85%;
  }

  .animaux button {
    font-size: 10px;
    padding: 5px 10px;
  }
  
  .body_accueil{
  margin-left: 2vw;
}

.body_accueil h2{
  font-size: 17px;
}

.body_accueil h1{
  font-size: 28px;
}

.pet-card{
  width: 30vw;
}

.accueil-animaux .pet_card{
  width: 30vw;
}

.titre-menu{
  margin-left: 2vw;
}

.h1_animaux{
  font-size: 28px;
  margin-left: 7vw;
}

.main-content{
  margin-left: 7vw;
  margin-right: 2vw;
}

.title-don{
  font-size: 55px;
  margin-left: 5vw;
}

.h2-don{
  font-size: 30px;
  margin-left: 5vw;
}

.h3-don{
  font-size: 25px;
  margin-left: 5vw;
}

.p-don{
  font-size: 12px;
  margin-left: 5vw;
}

}

/* BARRE DE PROGRESSION  */

#progressbar-container {
  width: 300px;
  height: 20px;
  margin: 30px auto;
  background-color: #f2f2f2;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

#progressbar {
  width: 0;
  height: 100%;
  background: linear-gradient(to right, #543a8e, #c07ed4);
  border-radius: 25px;
  transition: width 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}

#progress-text {
  position: absolute;
  color: #543a8e;
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#progressbar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('your-pattern.png') repeat; /* Remplacez 'your-pattern.png' par le chemin de votre motif */
  opacity: 0.1; /* Ajustez l'opacité du motif */
}



/* MESSAGE DE BIENVENUE  */

#welcome-message {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #dd7a52;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-bottom-left-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}